// Custom fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$font-family: 'Lato', Helvetica, Arial, sans-serif;
$icon-font-family: 'FontAwesome';

// Base colors
$base-color: #307d7e;
$base-color-light: #f5ffff;
$highlight-color: #d46e00;
$gray-bg: #fcfcfc;
$gray-text: #b0b0b0;
$danger-color: #c11d1d;
$text-color: #303030;
